.icon {
  width: 78px;
  height: 78px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.sellYourHome1 {
  margin: 0;
  position: relative;
  font-size: var(--header-heading-4-size);
  line-height: 32px;
  font-weight: 600;
  font-family: inherit;
  text-align: center;
}
.readMore,
.weDoA {
  position: relative;
  line-height: 24px;
}
.weDoA {
  align-self: stretch;
  color: var(--gray-400);
}
.readMore {
  color: var(--primary-500);
}
.contents,
.description,
.sellYourHome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.contents,
.description {
  align-self: stretch;
  gap: 24px 0;
}
.sellYourHome {
  width: 312px;
  border-radius: var(--br-9xs);
  background-color: var(--gray-white);
  box-shadow: 0 24px 68px rgba(59, 77, 129, 0.08);
  padding: var(--padding-3xl);
  box-sizing: border-box;
  min-width: 300px;
  max-width: 340px;
  text-align: left;
  font-size: var(--body-regular-400-size);
  color: var(--gray-700);
  font-family: var(--body-large-400);
}
@media screen and (max-width: 450px) {
  .sellYourHome1 {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .sellYourHome {
    width: calc(100% - 40px);
  }
}
